# ==========================
# CONFIGURACIÓN DEL PROYECTO
# ==========================

# Servicio principal de Pacientes
PACIENTES_SERVICE_URL=http://pacientes-service:8003
NAME1_SERVICE_URL=http://service1:8001
NAME2_SERVICE_URL=http://service2:8002

# Base de datos MongoDB Atlas
MONGO_URI=conexionconmogno
DB_NAME=dbmonitoreo

GOOGLE_API_KEY=googleapikay

FLASK_ENV=development
FLASK_DEBUG=1



# Telegram Bot (opcional)
TELEGRAM_TOKEN=token

# Services URLs (solo para desarrollo local sin Docker)
SERVICE1_URL=http://localhost:8002
SERVICE2_URL=http://localhost:8003

SERVICE2_URL=http://127.0.0.1:8002/historial